In [14]:
!pip install pandas
!pip install numpy
!pip install matplotlib

Requirement already satisfied: pandas in c:\users\multicampus\appdata\local\programs\python\python311\lib\site-packages (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\multicampus\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\multicampus\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\multicampus\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\multicampus\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\multicampus\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in c:\users\multicampus\appdata\local\programs\python\python311\lib\site-packages (1.24.3)
Requirement already satisfied: matplotlib in c:\users\multicampus\appdata\local\programs\python\python311\lib\site-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\multicampus\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\multicampus\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\multicampus\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\multicampus\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\users\multicampus\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\multicampus\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\multicampus\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\multicampus\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\multicampus\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\multicampus\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [91]:
import os
import mysql.connector
from flask import Flask, jsonify, request
from flask_cors import CORS
from flask_mysqldb import MySQL
from dotenv import load_dotenv
import pandas as pd

In [92]:
def create_conn():
    conn = mysql.connector.connect(
        host = "localhost",
        user = "root",
        password = "ttrip104!",
        database = "coredb",
        port = 3306,
    )
    return conn

In [99]:
# 데이터베이스에 연결
conn = create_conn()

In [100]:
# 커서 생성
cursor = conn.cursor()

In [101]:
# SQL 쿼리 실행
query = "select * from coredb.article where end_date >= now() and status = 'T';"
cursor.execute(query)

In [102]:
cursor.close()
conn.close()

InternalError: Unread result found

In [103]:
conn = create_conn()
cursor = conn.cursor()
cursor.execute(query)
article_list = cursor.fetchall()

In [104]:
type(article_list[0])

tuple

In [105]:
# article 리스트를 pandas DataFrame으로 변환
# (
#     240504, 
#     datetime.datetime(2023, 5, 8, 3, 38, 16), 
#     datetime.datetime(2023, 5, 8, 3, 38, 16), 
#     '베를린', 
#     '안녕하세요! 베를린에서 문화체험 여행을 계획 중입니다. 함께 여행할 동행을 찾습니다.', 
#     datetime.datetime(2023, 5, 9, 3, 38, 16), 
#     '독일', 
#     datetime.datetime(2023, 5, 8, 3, 38, 16), 
#     'T', 
#     '베를린에서 문화체험 여행 동행 구합니다!',
#     2
# )
# id, created_at, updated_at, city, content, end_date, nation, start_date, status, title, author_id

article_list = pd.DataFrame(article_list, columns=['id',
                                       'created_at', 
                                       'updated_at', 
                                       'city', 
                                       'content', 
                                       'end_date', 
                                       'nation', 
                                       'start_date', 
                                       'status', 
                                       'title', 
                                       'author_id'
                                      ])

In [106]:
# article list에서 필요한 컬럼만  남기기
article_list = article_list[['id', 'content', 'author_id']]

In [107]:
article_list.head(10)

      id                                          content  author_id
0  10001   안녕하세요! 런던에서 문화체험 여행을 계획 중입니다. 함께 여행할 동행을 찾습니다.          2
1  10002  안녕하세요! 베를린에서 자연탐방 여행을 계획 중입니다. 함께 여행할 동행을 찾습니다.          2
2  10003     안녕하세요! 서울에서 미식 여행을 계획 중입니다. 함께 여행할 동행을 찾습니다.          2
3  10004    안녕하세요! 오사카에서 역사 여행을 계획 중입니다. 함께 여행할 동행을 찾습니다.          2
4  10005  안녕하세요! 런던에서 레저스포츠 여행을 계획 중입니다. 함께 여행할 동행을 찾습니다.          2
5  10006    안녕하세요! 베를린에서 쇼핑 여행을 계획 중입니다. 함께 여행할 동행을 찾습니다.          2
6  10007   안녕하세요! 서울에서 문화체험 여행을 계획 중입니다. 함께 여행할 동행을 찾습니다.          2
7  10008  안녕하세요! 오사카에서 자연탐방 여행을 계획 중입니다. 함께 여행할 동행을 찾습니다.          2
8  10009     안녕하세요! 런던에서 미식 여행을 계획 중입니다. 함께 여행할 동행을 찾습니다.          2
9  10010    안녕하세요! 베를린에서 역사 여행을 계획 중입니다. 함께 여행할 동행을 찾습니다.          2

In [58]:
len(article_list)

10000

In [60]:
# 데이터 전처리
# 중복 데이터 제거
article_list = article_list.drop_duplicates()
# 1. 결측값(Na, NaN) 제거
article_list = article_list.dropna()
# 2. content 열 결측값을 빈 문자열로 채움
article_list['content'] = article_list['content'].fillna('')
len(article_list)

10000

In [69]:
# 불용어를 한국어로 지정하고 tf-idf 계산
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words = 'korean')
tfidf_matrix = tfidf.fit_transform(article_list['content'])

# cosine 유사도 계산
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
cosine_sim = pd,Dataframe(cosine_sim, index = article_list.id, columns  = article_list.id)

InvalidParameterError: The 'stop_words' parameter of TfidfVectorizer must be a str among {'english'}, an instance of 'list' or None. Got 'korean' instead.

In [ ]:
# 주어진 텍스트를 원하는 품사의 단어로 토큰화하고, 불용어를 제거하는 작업
from eunjeon import Mecab
stopwords = ['라', '공동으로', '형식', '사람', '대로', '사람들', '생각', '좋아', '기준으로', '알겠는가', '동시에', '일', '의', '같은', '말하면', '오자마자', '누구', '하기는한데', '아', '할때', '그렇', '두', '어떠', '되', '아래', '여기', '아이야', '로써', '막론하고', '여', '한', '육', '하나', '이런', '저', '어쩔수', '천', '구', '요만한', '때문에', '시키', '지', '틀림없다', '물론', '알았어', '미치다', '다면', '근거', '하지만', '해', '비길수', '여러분', '왜냐하면', '응', '그리하여', '일곱', '많', '조차', '이러한', '인하여', '인', '기점', '우리들', '까닭으로', '잠깐', '그중에서', '이르다', '입각하여', '불구하고', '오히려', '까닭', '할수있어', '관해서', '아이고', '그러한즉', '윗', '비슷하다', '참', '하고', '아이쿠', '형식으로', '일반적으로', '할줄알다', '이천칠', '여전히', '관계없이', '김에', '되는', '모른다', '만약에', '조차도', '공동', '자기', '하기만', '그렇지만', '정도', '따라서', '보면', '타인', '영', '그러니', '서술', '예를', '하기보다는', '버금', '아무도', '서술한바와같이', '와', '이번', '몰', '그만', '지경', '서', '오로지', '라면', '두번째로', '기타', '정도에', '뿐이다', '뿐만', '다음으로', '전부', '하도다', '랏다', '않는다면', '만이', '이리하여', '뿐만아니라', '남', '전후', '도착하다', '누가', '예하면', '근거하여', '의거하여', '일때', '으로서', '아이', '아이구', '이와', '얼마', '인하', '면', '엉엉', '나', '만약', '대해', '하지', '어찌하여', '아무거나', '어떻게', '부터', '자', '이러', '붕붕', '이천팔', '잠시', '연관', '보다', '된다', '이렇게말하자면', '위에서', '듯하', '종합한것과같이', '놀라다', '기준', '그렇게', '삐걱', '이르', '을', '그럼에도', '한데', '여섯', '으로써', '예컨대', '휘익', '종합', '면서', '그러니까', '결론', '바', '그러면', '에서', '이로', '따름', '할', '려고', '소생', '못하다', '다시', '까닭에', '임에', '까지도', '않으면', '예', '둥둥', '에', '쾅쾅', '차라리', '첫', '하면', '가', '아울러', '구나', '이렇게되면', '아니', '도달', '요만', '만은', '앞에서', '집', '뿐', '으로', '많은', '있', '안된다', '고', '관해서는', '때문', '봐라', '그런', '위하', '도착', '도', '그러', '다른', '쉿', '어', '하는것도', '그러므로', '하구나', '은', '여부', '나머지는', '혼자', '줄은', '앞', '겸사겸사', '한다면', '만', '입각', '총적으로', '반드시', '들', '상대', '한켠으로는', '오', '는다면', '이유만으로', '어찌하든지', '해서', '관계', '이러이러하다', '든지', '놀라', '칠', '견지', '중에서', '그리고', '틀림없', '남들', '않기', '한항목', '았', '보는데서', '게', '어찌됏어', '어째서', '이만큼', '둘', '그치', '아니라면', '알', '관계가', '함으로써', '셋', '이러이러', '견지에서', '않다', '겠', '이것', '때', '로', '흐흐', '막론', '만일', '우에', '다섯', '아래윗', '쿵', '한하다', '자기집', '적', '마치', '보', '그런데', '못', '줄은모른다', '김', '단지', '이쪽', '운운', '하기에', '관련이', '어떻해', '어떻', '없', '하지마라', '그러나', '소인', '으면', '해야', '어느', '우선', '너', '몰랏다', '시각', '거나', '같다', '안', '지경이다', '생각이다', '오호', '정도의', '또한', '연관되다', '일반', '기', '무엇때문에', '결론을', '한마디', '네', '저희', '부류', '근거로', '어떤것들', '따라', '본대로', '들자면', '하지마', '봐', '본', '위', '상대적으로', '동안', '이렇게', '좋', '도달하다', '데', '이때', '아니다', '중', '말', '그리', '참나', '그', '이라면', '넷', '이천육', '도다', '심지어', '는가', '일단', '아무', '하는바', '전자', '되다', '요만큼', '무렵', '아니라', '같', '입장에서', '비길', '무슨', '하기', '것', '한하', '었', '와아', '외', '어떤', '의거', '다음', '령', '하다', '줄', '까지', '해야한다', '일것이다', '의해', '할수있다', '를', '않도록', '말하자면', '번', '어떠한', '따위', '듯하다', '낫', '그치지', '그렇지', '반대로', '다음에', '너희', '자면', '동시', '이럴', '하면서', '이럴정도로', '지만', '과', '마', '이', '중의하나', '몰라도', '미치', '팔', '이렇', '이와같다면', '에게', '입장', '따름이다', '없다', '총적', '아니면', '이렇구나', '같이', '윙윙', '달려', '오직', '그런즉', '여덟', '기에', '휴', '해서는', '수', '그들', '그만이다', '너희들', '시간', '것과', '위해서', '부류의', '무엇', '임', '야', '어쩔', '이르기까지', '그래서', '째', '항목', '결과', '후', '하느니', '아니었다면', '앞의것', '니', '관련', '도록', '위하여', '나머지', '삼', '하는', '외에도', '할수록', '낼', '지말고', '불구', '하든지', '아하', '켠', '있다', '사', '것들', '함', '자신', '않다면', '륙', '어떤것', '어쨋든', '다시말하면', '이유는', '이곳', '이유', '하려고하다', '어찌', '낫다', '자마자', '결과에', '느니', '탕탕', '한다', '기점으로', '첫번째로', '비슷', '반대', '아홉', '쓰여', '이천구', '다', '끼익', '하도록시키다', '는', '않', '어때', '우리', '하여금', '들면', '하', '됏', '편이', '의해되다']
# NNG: 일반 명사, NNP: 고유 명사, VV: 동사, VA: 형용사
def tokenizer(raw, pos=["NNG", "NNP", "VV", "VA"], stopword=stopwords):
    m = Mecab()
    return [word for word, tag in m.pos(raw) if len(word) > 1 and tag in pos and word not in stopword]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
# 각 문서의 텍스트를 토큰화하고, 단어의 빈도에 가중치를 부여하여 문서-단어 행렬을 생성
# 한글 토큰화를 위해 tokenizer와 불용어(stopwords)를 사용하며, 1-gram과 2-gram을 고려하고 최대 200,000개의 단어를 포함하도록 설정

tf = TfidfVectorizer(
    stop_words=stopwords, tokenizer=tokenizer, ngram_range=(1, 2), max_features=200000, sublinear_tf=True)

In [215]:
def query_article_list():
    conn = create_conn()
    query = "SELECT id, content, author_id FROM coredb.article where end_date >= now() and status = 'T';"
    cursor = conn.cursor()
    cursor.execute(query)
    article_list = cursor.fetchall()
    cursor.close()
    conn.close()
    article_list = pd.DataFrame(article_list, columns=['id', 'content', 'author_id'])
    article_list = article_list[['id', 'content', 'author_id']]
    # 정규 표현식 수행하여  'content' 열에 있는 모든 문자열에서 한글과 공백을 제외한 모든 문자를 제거
    article_list['content'] = article_list['content'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","") 
    article_list['content'].replace('', np.nan, inplace=True) # 공백은 Null 값으로 변경
    article_list = article_list.dropna() # Null 값 제거
    
    return article_list

In [206]:
from sklearn.metrics.pairwise import linear_kernel
import _pickle as pickle

mtx_path = 'C:\model/model.mtx'
tf_path = 'C:\model/tf.pickle'

In [207]:
import numpy as np

def first_learning(tf, mtx_path):
    article_list = query_article_list()
    X = tf.fit_transform(article_list["content"])
    tf.n_docs = len(article_list)
    with open(mtx_path, "wb") as fw:
        pickle.dump((X, article_list.index, article_list.id), fw)
    with open(tf_path, "wb") as fw:
        pickle.dump(tf, fw)

In [208]:
def recommand(more):
    with open(mtx_path, "rb") as fr:
        X, article_index, article_list_id = pickle.load(fr)
    with open(tf_path, "rb") as fr:
        tf = pickle.load(fr)
    example_vector = tf.transform([more])
    #  함수는 다차원 배열을 일차원 배열로 전환하여 배열의 모든 요소가 연속된 선형 구조를 갖도록 변환
    cos_similar = linear_kernel(example_vector, X).flatten()
    sim_rank_idx = cos_similar.argsort()[::-1]
    sim_rank_idx = sim_rank_idx[:5]
    for i in sim_rank_idx:
        print("Cosine Similarity:", cos_similar[i])
        print("Article ID:", article_list_id[i])
        print("------")

In [209]:
first_learning(tf, mtx_path)

C:\Users\multicampus\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\feature_extraction\text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [210]:
recommand("서울 역사 여행 서울")

Cosine Similarity: 0.8514818043714283
Article ID: 30000
------
Cosine Similarity: 0.8514818043714283
Article ID: 27534
------
Cosine Similarity: 0.8514818043714283
Article ID: 22278
------
Cosine Similarity: 0.8514818043714283
Article ID: 22290
------
Cosine Similarity: 0.8514818043714283
Article ID: 24684
------

In [211]:
recommand("서울 역사 여행")

Cosine Similarity: 0.8763032607737282
Article ID: 30000
------
Cosine Similarity: 0.8763032607737282
Article ID: 27534
------
Cosine Similarity: 0.8763032607737282
Article ID: 22278
------
Cosine Similarity: 0.8763032607737282
Article ID: 22290
------
Cosine Similarity: 0.8763032607737282
Article ID: 24684
------

In [212]:
recommand("베를린 역사 여행")

Cosine Similarity: 0.8726598842674674
Article ID: 23712
------
Cosine Similarity: 0.8726598842674674
Article ID: 29256
------
Cosine Similarity: 0.8726598842674674
Article ID: 21438
------
Cosine Similarity: 0.8726598842674674
Article ID: 23640
------
Cosine Similarity: 0.8726598842674674
Article ID: 26682
------

In [216]:
recommand("베를린 문화")

Cosine Similarity: 0.7012221047633034
Article ID: 25671
------
Cosine Similarity: 0.7012221047633034
Article ID: 22593
------
Cosine Similarity: 0.7012221047633034
Article ID: 27969
------
Cosine Similarity: 0.7012221047633034
Article ID: 22605
------
Cosine Similarity: 0.7012221047633034
Article ID: 25419
------

test

In [228]:
def query_article_list():
    conn = create_conn()
    query = "SELECT id, content, author_id FROM coredb.article where end_date >= now() and status = 'T';"
    cursor = conn.cursor()
    cursor.execute(query)
    article_list = cursor.fetchall()
    cursor.close()
    conn.close()
    article_list = pd.DataFrame(article_list, columns=['id', 'content', 'author_id'])
    article_list = article_list[['id', 'content', 'author_id']]
    # 정규 표현식 수행하여  'content' 열에 있는 모든 문자열에서 한글과 공백을 제외한 모든 문자를 제거
    article_list['content'] = article_list['content'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","") 
    article_list['content'].replace('', np.nan, inplace=True) # 공백은 Null 값으로 변경
    article_list = article_list.dropna() # Null 값 제거
    
    return article_list

In [229]:
from sklearn.metrics.pairwise import linear_kernel
import _pickle as pickle

mtx_path = 'C:\model/model.mtx'
tf_path = 'C:\model/tf.pickle'

In [230]:
import numpy as np
article_pd = query_article_list()

def first_learning(tf, mtx_path, article_pd = article_pd):
    X = tf.fit_transform(article_pd["content"])
    tf.n_docs = len(article_pd)
    with open(mtx_path, "wb") as fw:
        pickle.dump(X, fw)
    with open(tf_path, "wb") as fw:
        pickle.dump(tf, fw)

In [260]:
# - more : 추가 된 데이터(유사도 검사 대상)
# - requester_id : 본인 게시글 추천을 피하기 위한 비교 값
# - n_recom : 추천 갯수
def recommand(more, requester_id, n_recom, article_pd = article_pd):
    with open(mtx_path, "rb") as fr:
        X = pickle.load(fr)
    with open(tf_path, "rb") as fr:
        tf = pickle.load(fr)
    example_vector = tf.transform([more])
    #  함수는 다차원 배열을 일차원 배열로 전환하여 배열의 모든 요소가 연속된 선형 구조를 갖도록 변환
    cos_similar = linear_kernel(example_vector, X).flatten()
    sim_rank_idx = cos_similar.argsort()[::-1]
    sim_rank_idx = sim_rank_idx[:100]
    
    i = 0;
    cnt = 0;
    result = []
    dataSize = len(sim_rank_idx)
    while(n_recom > cnt and i < dataSize):
        type(sim_rank_idx[i])
        print("Cosine Similarity :", cos_similar[sim_rank_idx[i]])
        print("Article ID :", article_pd.loc[sim_rank_idx[i]]['id'])
        print("Article CONTENT :", article_pd.loc[sim_rank_idx[i]]['content'])
        print("------")
        if (article_pd.loc[i]['author_id'] != requester_id):
            result.append(article_pd.loc[sim_rank_idx[i]]['id'])
            cnt += 1
        i += 1
    return result

In [242]:
first_learning(tf, mtx_path)

In [262]:
recommand("안녕하세요! 서울에서 문화체험 여행을 계획 중입니다. 함께 여행할", 1, 5)

100
Cosine Similarity : 0.9872943300088868
Article ID : 28941
Article CONTENT : 안녕하세요! 서울에서 문화체험 여행을 계획 중입니다. 함께 여행할 동행을 찾습니다.8940
------
Cosine Similarity : 0.9872943300088868
Article ID : 20715
Article CONTENT : 안녕하세요! 서울에서 문화체험 여행을 계획 중입니다. 함께 여행할 동행을 찾습니다.714
------
Cosine Similarity : 0.9872943300088868
Article ID : 28953
Article CONTENT : 안녕하세요! 서울에서 문화체험 여행을 계획 중입니다. 함께 여행할 동행을 찾습니다.8952
------
Cosine Similarity : 0.9872943300088868
Article ID : 26043
Article CONTENT : 안녕하세요! 서울에서 문화체험 여행을 계획 중입니다. 함께 여행할 동행을 찾습니다.6042
------
Cosine Similarity : 0.9872943300088868
Article ID : 20739
Article CONTENT : 안녕하세요! 서울에서 문화체험 여행을 계획 중입니다. 함께 여행할 동행을 찾습니다.738
------

[28941, 20715, 28953, 26043, 20739]